header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

h1{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
}
.pokedex{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}
.poke{
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

.pimage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    border-color: #000000;
    width: 200px;
    height: 175px;
    border-width: 1px;
}

.pimage-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b4b4b4;
    width: 260px;
    height: 245px;
    border-width: 1px;
    border-color: #000000;
    border-radius: 30px;
    border-style: solid;
    position: relative;
    top: 0px;
}

.upperButtons{
    position: relative;
    top: -10px;
    left: -100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 35px;
    margin: 5px;
    border: 1px solid #000000;
}
.circle1{

    width: 50px;
    height: 50px;
    background-color: #05fbfb;
    border: 5px solid #ffffff;
    border-radius: 35px;
    margin: 5px;
}

.circle2{

    background-color:#fb0505;
    
}
.circle3{
    background-color:#ffff06;
    

}
.circle4{
    background-color:#94fa4b;
}

.logo-pokedex{
    position: relative;
    top: -10px;
}

.lowerButtons{
    position: relative;
    top: 15px;
    left: 00px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle5{

    width: 50px;
    height: 50px;
    background-color: #1100ff;
    border-radius: 35px;
    margin: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.info{
    display: flex;
    align-items:flex-start;
    background-color: #30da0c;
    width: 300px;
    height: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 30px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
}
.blue-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 60px;
}
.blues{
    background-color: #1100ff;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    width: 60px;
    height: 40px;
    
}

.naranja{

    background-color: #ff5100;
    border-color: #000000;
}

.verde{
    background-color: #33ff00;
    border-color: #000000;
}

.naranja-largo{
    width: 60px;
    height: 10px;
    background-color: #ff5100;
    border-radius: 5px;
    margin: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.verde-largo{
    width: 60px;
    height: 10px;
    background-color: #33ff00;
    border-radius: 5px;
    margin: 5px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

.buttons{
    display: flex;
    justify-content:space-between;
    height: 40px;

}
.buttons2{
    display: flex;
    justify-content: flex-end;

}

.yellow{
    width: 120px;
    height: 60px;
    background-color: #fbff00;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
}

